#about{
    position: relative;
}

#about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-text);
}

.about-container{
    padding: 2rem 0 ;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.photo-container,
.about-text-container{
    /* border: 1px solid red; */
    /* flex: 1 1 300px;  */
    max-width: 500px;
}

.photo-container{
    max-width: 350px; 
}

.photo-frame{
    position: relative;
    background: #F97316;
    background: linear-gradient(135deg,rgba(249, 115, 22, 0.49) 0%, rgba(13, 148, 136, 0.46) 100%);
    width: 100%; 
    aspect-ratio: 1 / 1; 
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.photo-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: none;
}

.highlight-text{
    font-weight: 700;
    color: var(--accent-blue);
}

