.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    background-color: var(--primary-light);
    padding: 0 5rem; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-link{
    color: var(--primary-dark);
	font-family: var(--font-family);
	font-size: var(--font-size-text);
    font-weight: var(--font-weight-text-strong);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: color 0.3s ease;
}

.nav-link:hover{
    color: var(--accent-teal);
}


.nav-btn{
    background-color: var(--accent-orange);
    color: var(--primary-light);
	font-family: var(--font-family);
	font-size: var(--font-size-text);
    font-weight: var(--font-weight-text-strong);
    width: 200px;  
    text-decoration: none;
    padding: 0.6em 1em;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}


.btn{
    background-color: var(--accent-orange);
    color: var(--primary-light);
	font-family: var(--font-family);
	font-size: var(--font-size-text);
    font-weight: var(--font-weight-text-strong);
    width: 200px;  

    text-decoration: none;
    padding: 0.6em 1em;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
}
