#skills{
    background-color:white;
    scroll-margin-top: 5rem;
}

.filter-buttons-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
}

.filter-button{
    min-width: 150px;
    cursor: pointer;
    background-color: rgba(20, 123, 99, 0.2);
    border: none;
    border-radius: 2rem;
    padding: 0.2em 1em;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.filter-button:hover{
    font-weight: var(--font-weight-text-strong);
}

.active{
    font-weight: var(--font-weight-text-strong);
    background-color: var(--accent-teal);
    color:var(--primary-light);
    border: 1px solid var(--primary-light);
}

.hard-skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    margin: 0 auto;
    max-width: 60%;
    /* border: 1px solid red; */
    height: 300px;
}

.hard-skill-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-light);
    border: 1px solid rgba(24, 70, 144, 0.2);
    width: 200px;
    height: 66px;
    padding: 1em;
    border-radius: 0.3rem;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.hard-skill-card:hover {
    border: 1px solid var(--accent-teal);
    transform: translateY(-1px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.hard-skill-card p{
    font-weight: var(--font-weight-text-strong);
}

.skill-icon {
  font-size: 2rem;  
}

